Repository tubbo/openrct2-benchwarmer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update to v4.2.1
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

update pnp files
  .pnp.cjs
  .pnp.loader.mjs
Due: none

add enableGlobalCache for zero installs
  .yarnrc.yml
Due: prettier --write

upgrade to yarn v4
  .node-version
  .pnp.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --write

update code style for prettier v3.x
  add.ts
  benchwarmer.ts
  ui.ts
Due: prettier --write, eslint --fix

only run jest lints on test files
  .eslintrc.json
Due: prettier --write

use toBe when expecting primitive literals
  __tests__/settings.test.ts
Due: prettier --write, eslint --fix

use jest.mocked instead of missing mocked method from ts-jest
  __tests__/add.test.ts
  __tests__/settings.test.ts
Due: prettier --write, eslint --fix

group eslint and plugins together
  renovate.json
Due: prettier --write

fix jest linting errors
  .eslintrc.json
  .pnp.cjs
  __tests__/add.test.ts
  __tests__/settings.test.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

update to new flat config format
  .eslintignore
  .pnp.cjs
  .yarn/cache/@eslint-js-npm-9.2.0-6c74f11ab5-89632466d3.zip
  eslint.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

disable pinning dependencies
  renovate.json
Due: prettier --write

ignore eslint/js from depcheck
  .depcheckrc
Due: none

specify target api versions for openrct2 future compatibility
  benchwarmer.ts
Due: prettier --write, eslint --fix

release new minor version
  .yarn/versions/f8b2fbd4.yml
Due: prettier --write

fix release config syntax
  .github/release.yml
Due: prettier --write

replace RELEASE_TOKEN secret with regular github token from actions
  .github/workflows/tag.yml
Due: prettier --write

replace vendored types with @types/openrct2
  .pnp.cjs
  .yarn/cache/@types-openrct2-npm-0.4.0-da07947163-187c675a27.zip
  package.json
  types/actions.d.ts
  types/openrct2.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

update type definitions for compatibility
  __tests__/add.test.ts
  __tests__/settings.test.ts
  ui.ts
Due: prettier --write, eslint --fix

added lamps and disables to benchwamer
  add.ts
  benchwarmer.ts
  settings.ts
  ui.ts
Due: prettier --write, eslint --fix

chore(updated): updated docs and acknowledgements
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Added undo build option
  add.ts
  benchwarmer.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,yml,md})
  eslint --fix: any of: *.{js,ts}
