Repository tubbo/openrct2-benchwarmer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: reformat files
  CHANGELOG.md
  src/add.test.ts
  src/add.ts
  src/index.ts
Due: prettier --write, eslint --fix

style(prettier): ignore generated changelog
  .prettierignore
Due: none

build: add husky script to postinstall
  package.json
Due: prettier --write

build(types): update openrct2 type definitions
  types/openrct2.d.ts
Due: prettier --write, eslint --fix

feat: execute game actions to place benches/bins
  package.json
  src/add.ts
  src/settings.ts
Due: prettier --write, eslint --fix

refactor: remove extra validation code
  src/add.ts
Due: prettier --write, eslint --fix

refactor: rename button text
  src/index.ts
  src/ui.ts
Due: prettier --write, eslint --fix

test: update mocks for new api usage
  mocks/openrct2.js
Due: prettier --write, eslint --fix

feat: build additions as new paths are built
  .eslintignore
  src/add.ts
  src/index.ts
  src/settings.ts
  tsconfig.json
  types/actions.d.ts
Due: prettier --write, eslint --fix

ci(publish): add all semantic-release branches
  .github/workflows/publish.yml
Due: prettier --write

fix: prevent building over decorative additions
  src/add.ts
Due: prettier --write, eslint --fix

feat(ui): increase window size to accommodate new options
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2fe8a8d00a5aa262fca373924882d0b13efcf53a
Due: none

feat: add lights to path additions
  src/add.test.ts
  src/add.ts
  src/index.ts
  src/settings.test.ts
  src/settings.ts
Due: prettier --write, eslint --fix

fix: additions to new paths wasn't working before opening the benchwarmer window
  src/index.ts
Due: prettier --write, eslint --fix

fix: additions to new paths wasn't working before opening benchwarmer window
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0ca3e831e0bc139cc2e7012790f35ab6aec67d73
Due: none

Fix #55
  src/index.ts
Due: prettier --write, eslint --fix

fix(types): resolve type checks after queue lines fix
  src/index.ts
Due: prettier --write, eslint --fix

chore: fix mocks
  mocks/openrct2.js
  src/add.test.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  504d75bfaf1b158dbe23e4bbfb926502189a0ff6
Due: none

ci: update github workflows
  .github/workflows/dependencies-skip.yml
  .github/workflows/dependencies.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

clean root dir of any extra configs that we can consolidate
  CHANGELOG.md
  jest.config.js
  package.json
Due: prettier --write, eslint --fix

ignore generated files from prettier/eslint
  .eslintignore
  .prettierignore
Due: none

automatically version based on pull request labels
  .github/workflows/publish.yml
  .github/workflows/tag.yml
  .github/workflows/version.yml
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
Due: prettier --write

add deps from linux to cache for use in ci
  .yarn/cache/esbuild-linux-64-npm-0.15.18-b7675c5a72-8.zip
  .yarnrc.yml
Due: prettier --write

add concurrency control for all workflows
  .github/workflows/dependencies.yml
  .github/workflows/publish.yml
  .github/workflows/tag.yml
  .github/workflows/tests.yml
  .github/workflows/version.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,yml,md})
  eslint --fix: any of: *.{js,ts}
